<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Диана Гончарова">
    <META NAME="CREATED" CONTENT="20201225;163600000000000">
    <META NAME="CHANGEDBY" CONTENT="Диана Гончарова">
    <META NAME="CHANGED" CONTENT="20201225;171500000000000">
    <META NAME="AppVersion" CONTENT="15.0000">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <STYLE TYPE="text/css">
        <!--
        @page { margin-left: 1.18in; margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        -->
    </STYLE>
</HEAD>
<BODY LANG="ru-RU" DIR="LTR">
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Администрация
</FONT>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Сельского
    поселения сумона</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">{{sumon}}</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">{{kozhuun}}</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Республики
    Тыва</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%">№ <FONT FACE="Times New Roman, serif">_____</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">«___»
    ________________ 20____г.</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif"><B>Выписка
    из похозяйственной книги № __<u>{{householdBook}}</u>__</B></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Выдана
    администрацией сумона
    _______<u>{{sumon}}</u>_______</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">В
    лице
    ______________________________________________________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Действующего
    на основании
    ____________________________________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Гражданину
    , ведущему личное подсобное хозяйство,
    записанному первым в похозяйственной
    книге
    _______<u>{{mainResident}}</u>_______</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Адрес
    хозяйства
    _____________<u>{{address}}</u>__________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><A NAME="_GoBack"></A>
    <FONT FACE="Times New Roman, serif">Лицевой счет
        ______<u>{{bankBook}}</u>______</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Список
        членов хозяйства:</FONT></P>
</OL>
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=141>
    <COL WIDTH=142>
    <COL WIDTH=142>
    <COL WIDTH=141>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">ФИО</FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Отношение
                к члену хозяйства, записанному первым</FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Пол</FONT></P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Дата
                рождения</FONT></P>
        </TD>
    </TR>
    {{#residents}}
        <TR VALIGN=TOP>
            <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{name}}
                </P>
            </TD>
            <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{relationStr}}
                </P>
            </TD>
            <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{genderStr}}
                </P>
            </TD>
            <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{birthDateStr}}
                </P>
            </TD>
        </TR>
    {{/residents}}


</TABLE>
<P STYLE="margin-bottom: 0.11in; line-height: 100%">
</P>
<OL START=2>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Скот
        в собственности:</FONT></P>
</OL>
{{#hasAnimals}}
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Виды и
                группы скота</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>
    {{#animals}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">{{farmAnimal}}</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{value}}<BR>
            </P>
        </TD>
    </TR>
    {{/animals}}
</TABLE>
{{/hasAnimals}}
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=3>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Земли,
        находящие в пользовании гражданина,
        записанного первым в похозяйственной
        книге</FONT></P>
</OL>
{{#hasLand}}
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Характеристика</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Количество
                земельных участков</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{landsCnt}}
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Всего земли</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{landsSum}} га.
            </P>
        </TD>
    </TR>
    {{#landCategory}}
        <TR VALIGN=TOP>
            <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">{{categoryName}}</FONT></P>
            </TD>
            <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{totalArea}} га.
                </P>
            </TD>
        </TR>
    {{/landCategory}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Сведения о правах
                на землю</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                собственности</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Во
                владении</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                пользовании</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                аренде</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">По виду земель</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    {{#landTypes}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">{{name}}</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{area}} га.
            </P>
        </TD>
    </TR>
    {{/landTypes}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Площадь земли, занятой культурами</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    {{#agricultures}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">{{name}}</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{area}}
            </P>
        </TD>
    </TR>
    {{/agricultures}}
</TABLE>
{{/hasLand}}
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=4>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Технические
        средства в собственности</FONT></P>
</OL>
{{#hasTransport}}
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Наименование</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>

    {{#transport}}
        <TR VALIGN=TOP>
            <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><FONT FACE="Times New Roman, serif">{{name}}</FONT></P>
            </TD>
            <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>{{num}}
                </P>
            </TD>
        </TR>
    {{/transport}}
</TABLE>
{{/hasTransport}}
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=5>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">_______________________<u>{{mainResident}}</u>______________________
        характеризуется как добросовестный,
        дисциплинированный работник, имеющий
        навыки производства и реализации
        продукции, произведенной в личном
        подсобном хозяйстве.</FONT></P>
</OL>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">___________________________	/__________________________________________/</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Подпись					расшифровка
    подписи	</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">	М.п.</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Дата
    «_<u>{{curDay}}</u>_»____<u>{{curMonth}}</u>____<u>{{curYear}}</u>г.</FONT></P>
</BODY>
</HTML>