<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
    <META NAME="AUTHOR" CONTENT="Диана Гончарова">
    <META NAME="CREATED" CONTENT="20201225;163600000000000">
    <META NAME="CHANGEDBY" CONTENT="Диана Гончарова">
    <META NAME="CHANGED" CONTENT="20201225;171500000000000">
    <META NAME="AppVersion" CONTENT="15.0000">
    <META NAME="DocSecurity" CONTENT="0">
    <META NAME="HyperlinksChanged" CONTENT="false">
    <META NAME="LinksUpToDate" CONTENT="false">
    <META NAME="ScaleCrop" CONTENT="false">
    <META NAME="ShareDoc" CONTENT="false">
    <STYLE TYPE="text/css">
        <!--
        @page { margin-left: 1.18in; margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        -->
    </STYLE>
</HEAD>
<BODY LANG="ru-RU" DIR="LTR">
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Администрация
</FONT>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Сельского
    поселения сумона</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">{{sumon}}</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">{{kozhuun}}</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Республики
    Тыва</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%">№ <FONT FACE="Times New Roman, serif">_____</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">«___»
    ________________ 20____г.</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif"><B>Выписака
    из похозяйственной книги № <u>{{householdBook}}</u></B></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Выдана
    администрацией сумона
    <u>{{sumon}}</u></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">В
    лице
    ______________________________________________________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Действующего
    на основании
    ____________________________________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Гражданину
    , ведущему личное подсобное хозяйство,
    записанному первым в похозяйственной
    книге
    <u>{{mainResident}}</u></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Адрес
    хозяйства
    _________________________________________________________________</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><A NAME="_GoBack"></A>
    <FONT FACE="Times New Roman, serif">Лицевой счет
        <u>{{bankBook}}</u></FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Список
        членов хозяйства:</FONT></P>
</OL>
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=141>
    <COL WIDTH=142>
    <COL WIDTH=142>
    <COL WIDTH=141>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">ФИО</FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Отношение
                к члену хозяйства, записанному первым</FONT></P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Пол</FONT></P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
            </P>
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Дата
                рождения</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=142 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
        <TD WIDTH=141 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in; line-height: 100%">
</P>
<OL START=2>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Скот
        в собственности:</FONT></P>
</OL>
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Виды и
                группы скота</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>
    {{#animals}}
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">{{farmAnimal}}</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>{{value}}<BR>
            </P>
        </TD>
    </TR>
    {{/animals}}
</TABLE>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=3>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Земли,
        находящие в пользовании гражданина,
        записанного первым в похозяйственной
        книге</FONT></P>
</OL>
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Характеристика</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Количество
                земельных участков</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Всего земли</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Личное
                подсобное хозяйство</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Крестьянское
                (фермерское) хозяйство</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Служебный
                земельный надел</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Земельная
                доля</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Сведения о правах
                на землю</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                собственности</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Во
                владении</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                пользовании</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">В
                аренде</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Сельхозугодия</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Пашня</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Многолетние
                насаждения</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Сенокосы</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Пастбища</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Лесные земли</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Земли под постройки</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Посевные площади
                всего</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Зерновые
                культуры</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Картофель</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Овощи
                (открытого и закрытого грунта)</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Подсолнечник
                и зерно</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Сахарная
                свекла</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P STYLE="margin-left: 0.41in"><FONT FACE="Times New Roman, serif">Кормовые
                культуры</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=4>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Технические
        средства в собственности</FONT></P>
</OL>
<TABLE WIDTH=623 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=391>
    <COL WIDTH=202>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Наименование</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=CENTER><FONT FACE="Times New Roman, serif">Количество
                на дату оформления выписки</FONT></P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Тракторы</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Грузовые автомобили</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Прицепы и
                полуприцепы</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Легковые автомобили</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Мотоциклы</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Моторные лодки</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=391 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><FONT FACE="Times New Roman, serif">Другое</FONT></P>
        </TD>
        <TD WIDTH=202 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P><BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<OL START=5>
    <LI><P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">___________________________________________________________________
        характеризуется как добросовестный,
        дисциплинированный работник, имеющий
        навыки производства и реализации
        продукции, произведенной в личном
        подсобном хозяйстве.</FONT></P>
</OL>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">___________________________	/__________________________________________/</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Подпись					расшифровка
    подписи	</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">	М.п.</FONT></P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in; line-height: 100%"><FONT FACE="Times New Roman, serif">Дата
    «____»______________20___г.</FONT></P>
</BODY>
</HTML>